.about-section-two {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 7rem;

  &-about {
    &-title {
      font-size: 2rem;
      font-weight: 600;
    }

    &-content {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  &-history {
    &-title {
      font-weight: 600;
    }

    &-content {
      text-align: left;
      display: flex;
      gap: 4rem;

      > * {
        font-weight: 300;
      }
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 40%;

  &-content {
    line-height: 2.5rem;
  }
}
