header {
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 1rem 4rem;
  background-color: #858585;
  > nav {
    display: flex;
    justify-content: space-between;
    height: 4rem;
  }
}

.header-img {
  aspect-ratio: 4;
  object-fit: cover;

  width: 100%;
  height: 100%;
}
